App_WebReferences/TechDeskService/TechDesk.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://rgicl.techdesk.savvion.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://rgicl.techdesk.savvion.com" targetNamespace="http://rgicl.techdesk.savvion.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rgicl.techdesk.savvion.com">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="TechDeskObject">
        <xsd:sequence>
          <xsd:element name="appSupportPerformer" nillable="true" type="soapenc:string" />
          <xsd:element name="appSupportTAT" nillable="true" type="soapenc:string" />
          <xsd:element name="applicationType" nillable="true" type="soapenc:string" />
          <xsd:element name="approver2Dsgn" nillable="true" type="soapenc:string" />
          <xsd:element name="approver2Email" nillable="true" type="soapenc:string" />
          <xsd:element name="approver2Name" nillable="true" type="soapenc:string" />
          <xsd:element name="approverDesignation" nillable="true" type="soapenc:string" />
          <xsd:element name="approverEmailID" nillable="true" type="soapenc:string" />
          <xsd:element name="approverID" nillable="true" type="soapenc:string" />
          <xsd:element name="approverName" nillable="true" type="soapenc:string" />
          <xsd:element name="approverTAT" nillable="true" type="soapenc:string" />
          <xsd:element name="approverUserID2" nillable="true" type="soapenc:string" />
          <xsd:element name="branch" nillable="true" type="soapenc:string" />
          <xsd:element name="callCreatedBy" nillable="true" type="soapenc:string" />
          <xsd:element name="callLogDate" nillable="true" type="soapenc:string" />
          <xsd:element name="callType" nillable="true" type="soapenc:string" />
          <xsd:element name="channelSM" nillable="true" type="soapenc:string" />
          <xsd:element name="issueReqSubTypeID" nillable="true" type="soapenc:string" />
          <xsd:element name="issueRequestId" nillable="true" type="soapenc:string" />
          <xsd:element name="password" nillable="true" type="soapenc:string" />
          <xsd:element name="piName" nillable="true" type="soapenc:string" />
          <xsd:element name="priority" nillable="true" type="soapenc:string" />
          <xsd:element name="reopenId" nillable="true" type="soapenc:string" />
          <xsd:element name="teamName" nillable="true" type="soapenc:string" />
          <xsd:element name="teamTAT" nillable="true" type="soapenc:string" />
          <xsd:element name="ticketNo" nillable="true" type="soapenc:string" />
          <xsd:element name="ticketValue" nillable="true" type="soapenc:string" />
          <xsd:element name="uploadScreen" nillable="true" type="soapenc:string" />
          <xsd:element name="userContactNo" nillable="true" type="soapenc:string" />
          <xsd:element name="userEmailID" nillable="true" type="soapenc:string" />
          <xsd:element name="userRemark" nillable="true" type="soapenc:string" />
          <xsd:element name="username" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="STARTCALLDESKRequest">
    <wsdl:part name="UserRemark" type="soapenc:string" />
    <wsdl:part name="ApproverEmailID" type="soapenc:string" />
    <wsdl:part name="ApproverDesignation" type="soapenc:string" />
    <wsdl:part name="ApproverName" type="soapenc:string" />
    <wsdl:part name="UserEmailID" type="soapenc:string" />
    <wsdl:part name="UserContactNo" type="soapenc:string" />
    <wsdl:part name="ApplicationType" type="soapenc:string" />
    <wsdl:part name="ApproverID" type="soapenc:string" />
    <wsdl:part name="ReopenId" type="soapenc:string" />
    <wsdl:part name="Branch" type="soapenc:string" />
    <wsdl:part name="CallLogDate" type="soapenc:string" />
    <wsdl:part name="UploadScreen" type="soapenc:string" />
    <wsdl:part name="CallCreatedBy" type="soapenc:string" />
    <wsdl:part name="CallType" type="soapenc:string" />
    <wsdl:part name="IssueRequestId" type="soapenc:string" />
    <wsdl:part name="TicketNo" type="soapenc:string" />
    <wsdl:part name="ChannelSM" type="soapenc:string" />
    <wsdl:part name="TeamName" type="soapenc:string" />
    <wsdl:part name="IssueReqSubTypeID" type="soapenc:string" />
    <wsdl:part name="TeamTAT" type="soapenc:string" />
    <wsdl:part name="ApproverUserID2" type="soapenc:string" />
    <wsdl:part name="AppSupportPerformer" type="soapenc:string" />
    <wsdl:part name="Approver2Dsgn" type="soapenc:string" />
    <wsdl:part name="Approver2Email" type="soapenc:string" />
    <wsdl:part name="Approver2Name" type="soapenc:string" />
    <wsdl:part name="TicketValue" type="soapenc:string" />
    <wsdl:part name="username" type="soapenc:string" />
    <wsdl:part name="password" type="soapenc:string" />
    <wsdl:part name="piName" type="soapenc:string" />
    <wsdl:part name="priority" type="soapenc:string" />
    <wsdl:part name="miscNo" type="soapenc:string" />
    <wsdl:part name="totalSumInsured" type="soapenc:string" />
    <wsdl:part name="insuredName" type="soapenc:string" />
    <wsdl:part name="occupancy" type="soapenc:string" />
    <wsdl:part name="imdCodeAndName" type="soapenc:string" />
    <wsdl:part name="agentCodeAndName" type="soapenc:string" />
    <wsdl:part name="isGreenChannel" type="soapenc:string" />
    <wsdl:part name="Slip_Received_Date_1" type="soapenc:string" />
    <wsdl:part name="Client_Name" type="soapenc:string" />
    <wsdl:part name="Location_Of_Client" type="soapenc:string" />
    <wsdl:part name="Proposal_receive_from" type="soapenc:string" />
    <wsdl:part name="Proposal_receive_name" type="soapenc:string" />
    <wsdl:part name="Policy_Inception_Date_1" type="soapenc:string" />
    <wsdl:part name="Expiry_Date_1" type="soapenc:string" />
    <wsdl:part name="Expiry_TPA" type="soapenc:string" />
    <wsdl:part name="Insurance_Company" type="soapenc:string" />
    <wsdl:part name="Expiring_Broker" type="soapenc:string" />
    <wsdl:part name="Employer_Employee_Relationship" type="soapenc:string" />
    <wsdl:part name="Verticle_name" type="soapenc:string" />
    
  </wsdl:message>
  <wsdl:message name="UpdateTicketRequest">
    <wsdl:part name="obj" type="impl:TechDeskObject" />
  </wsdl:message>
  <wsdl:message name="getTeamNameRequest">
    <wsdl:part name="ticketNumber" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getPerformerResponse">
    <wsdl:part name="getPerformerReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getPerformerRequest">
    <wsdl:part name="ticketNumber" type="soapenc:string" />
    <wsdl:part name="performerType" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getTeamNameResponse">
    <wsdl:part name="getTeamNameReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="STARTCALLDESKResponse">
    <wsdl:part name="STARTCALLDESKReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="UpdateTicketResponse">
    <wsdl:part name="UpdateTicketReturn" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:portType name="TechDesk">
    <wsdl:operation name="UpdateTicket" parameterOrder="obj">
      <wsdl:input name="UpdateTicketRequest" message="impl:UpdateTicketRequest" />
      <wsdl:output name="UpdateTicketResponse" message="impl:UpdateTicketResponse" />
    </wsdl:operation>
    <wsdl:operation name="STARTCALLDESK" parameterOrder="UserRemark ApproverEmailID ApproverDesignation ApproverName UserEmailID UserContactNo ApplicationType ApproverID ReopenId Branch CallLogDate UploadScreen CallCreatedBy CallType IssueRequestId TicketNo ChannelSM TeamName IssueReqSubTypeID TeamTAT ApproverUserID2 AppSupportPerformer Approver2Dsgn Approver2Email Approver2Name TicketValue username password piName priority miscNo totalSumInsured insuredName occupancy imdCodeAndName agentCodeAndName isGreenChannel  Slip_Received_Date_1 Client_Name Location_Of_Client Proposal_receive_from Proposal_receive_name Policy_Inception_Date_1 Expiry_Date_1 Expiry_TPA Insurance_Company Expiring_Broker Employer_Employee_Relationship Verticle_name">
      <wsdl:input name="STARTCALLDESKRequest" message="impl:STARTCALLDESKRequest" />
      <wsdl:output name="STARTCALLDESKResponse" message="impl:STARTCALLDESKResponse" />
    </wsdl:operation>
    <wsdl:operation name="getTeamName" parameterOrder="ticketNumber">
      <wsdl:input name="getTeamNameRequest" message="impl:getTeamNameRequest" />
      <wsdl:output name="getTeamNameResponse" message="impl:getTeamNameResponse" />
    </wsdl:operation>
    <wsdl:operation name="getPerformer" parameterOrder="ticketNumber performerType">
      <wsdl:input name="getPerformerRequest" message="impl:getPerformerRequest" />
      <wsdl:output name="getPerformerResponse" message="impl:getPerformerResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TechDeskSoapBinding" type="impl:TechDesk">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="UpdateTicket">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="UpdateTicketRequest">
        <wsdlsoap:body use="encoded" namespace="http://rgicl.techdesk.savvion.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="UpdateTicketResponse">
        <wsdlsoap:body use="encoded" namespace="http://rgicl.techdesk.savvion.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="STARTCALLDESK">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="STARTCALLDESKRequest">
        <wsdlsoap:body use="encoded" namespace="http://rgicl.techdesk.savvion.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="STARTCALLDESKResponse">
        <wsdlsoap:body use="encoded" namespace="http://rgicl.techdesk.savvion.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTeamName">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getTeamNameRequest">
        <wsdlsoap:body use="encoded" namespace="http://rgicl.techdesk.savvion.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getTeamNameResponse">
        <wsdlsoap:body use="encoded" namespace="http://rgicl.techdesk.savvion.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getPerformer">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getPerformerRequest">
        <wsdlsoap:body use="encoded" namespace="http://rgicl.techdesk.savvion.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getPerformerResponse">
        <wsdlsoap:body use="encoded" namespace="http://rgicl.techdesk.savvion.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TechDeskService">
    <wsdl:port name="TechDesk" binding="impl:TechDeskSoapBinding">
      <wsdlsoap:address location="http://bpm.reliancegeneral.co.in/sbm/services/TechDesk" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>