App_WebReferences/IIBService/IIBWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://localhost/IIBWebService/" name="IIBWebService" targetNamespace="http://localhost/IIBWebService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://localhost/IIBWebService/">
      <xsd:element name="getResults">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="UserName" type="xsd:string" />
            <xsd:element name="Password" type="xsd:string" />
            <xsd:element name="RegNo" type="xsd:string" />
            <xsd:element name="ChassisNo" type="xsd:string" />
            <xsd:element name="EngineNo" type="xsd:string" />
            <xsd:element name="policyNo" type="xsd:string" />
            <xsd:element name="insurerName" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="getResultsResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Authentication" type="xsd:string" />
            <xsd:element name="RegNo" type="xsd:string" />
            <xsd:element name="ChassisNo" type="xsd:string" />
            <xsd:element name="EngineNo" type="xsd:string" />
            <xsd:element soapenc:arrayType="xsd:string[]" name="ClaimDetails" nillable="true" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getResultsRequest">
    <wsdl:part name="parameters" element="tns:getResults" />
  </wsdl:message>
  <wsdl:message name="getResultsResponse">
    <wsdl:part name="parameters" element="tns:getResultsResponse" />
  </wsdl:message>
  <wsdl:portType name="IIBWebService">
    <wsdl:operation name="getResults">
      <wsdl:input message="tns:getResultsRequest" />
      <wsdl:output message="tns:getResultsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IIBWebServiceSOAP" type="tns:IIBWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getResults">
      <soap:operation soapAction="http://111.93.1.114/IIBWebService/getResults" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IIBWebService">
    <wsdl:port name="IIBWebServiceSOAP" binding="tns:IIBWebServiceSOAP">
      <soap:address location="http://iib.gov.in/IIBWebServicesV3.0/services/IIBWebService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>