App_WebReferences/TechDeskObjectService/WS_TechDesk.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:intf="http://rgicl.calldesk.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://rgicl.calldesk.com" targetNamespace="http://rgicl.calldesk.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://rgicl.calldesk.com">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:complexType name="TechDeskObject">
        <xsd:sequence>
          <xsd:element name="appSupportPerformer" nillable="true" type="soapenc:string" />
          <xsd:element name="appSupportTAT" nillable="true" type="soapenc:string" />
          <xsd:element name="applicationType" nillable="true" type="soapenc:string" />
          <xsd:element name="approver2Dsgn" nillable="true" type="soapenc:string" />
          <xsd:element name="approver2Email" nillable="true" type="soapenc:string" />
          <xsd:element name="approver2Name" nillable="true" type="soapenc:string" />
          <xsd:element name="approverDesignation" nillable="true" type="soapenc:string" />
          <xsd:element name="approverEmailID" nillable="true" type="soapenc:string" />
          <xsd:element name="approverID" nillable="true" type="soapenc:string" />
          <xsd:element name="approverName" nillable="true" type="soapenc:string" />
          <xsd:element name="approverTAT" nillable="true" type="soapenc:string" />
          <xsd:element name="approverUserID2" nillable="true" type="soapenc:string" />
          <xsd:element name="branch" nillable="true" type="soapenc:string" />
          <xsd:element name="callCreatedBy" nillable="true" type="soapenc:string" />
          <xsd:element name="callLogDate" nillable="true" type="soapenc:string" />
          <xsd:element name="callType" nillable="true" type="soapenc:string" />
          <xsd:element name="channelSM" nillable="true" type="soapenc:string" />
          <xsd:element name="issueReqSubTypeID" nillable="true" type="soapenc:string" />
          <xsd:element name="issueRequestId" nillable="true" type="soapenc:string" />
          <xsd:element name="password" nillable="true" type="soapenc:string" />
          <xsd:element name="piName" nillable="true" type="soapenc:string" />
          <xsd:element name="priority" nillable="true" type="soapenc:string" />
          <xsd:element name="reopenId" nillable="true" type="soapenc:string" />
          <xsd:element name="teamName" nillable="true" type="soapenc:string" />
          <xsd:element name="teamTAT" nillable="true" type="soapenc:string" />
          <xsd:element name="ticketNo" nillable="true" type="soapenc:string" />
          <xsd:element name="ticketValue" nillable="true" type="soapenc:string" />
          <xsd:element name="uploadScreen" nillable="true" type="soapenc:string" />
          <xsd:element name="userContactNo" nillable="true" type="soapenc:string" />
          <xsd:element name="userEmailID" nillable="true" type="soapenc:string" />
          <xsd:element name="userRemark" nillable="true" type="soapenc:string" />
          <xsd:element name="username" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="RequestObject">
        <xsd:sequence>
          <xsd:element name="assignToUserId" nillable="true" type="soapenc:string" />
          <xsd:element name="fileBytes" nillable="true" type="soapenc:base64Binary" />
          <xsd:element name="fileName" nillable="true" type="soapenc:string" />
          <xsd:element name="remarks" nillable="true" type="soapenc:string" />
          <xsd:element name="status" nillable="true" type="soapenc:string" />
          <xsd:element name="status_Other" nillable="true" type="soapenc:string" />
          <xsd:element name="status_Sub" nillable="true" type="soapenc:string" />
          <xsd:element name="techdesk" nillable="true" type="impl:TechDeskObject" />
          <xsd:element name="ticketNumber" nillable="true" type="soapenc:string" />
          <xsd:element name="userId" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOf_soapenc_string">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="soapenc:string[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="WorkItemObject">
        <xsd:sequence>
          <xsd:element name="assignDate" nillable="true" type="soapenc:string" />
          <xsd:element name="callEndDate" nillable="true" type="soapenc:string" />
          <xsd:element name="callStartDate" nillable="true" type="soapenc:string" />
          <xsd:element name="dueDate" nillable="true" type="soapenc:string" />
          <xsd:element name="otherRemarks" nillable="true" type="soapenc:string" />
          <xsd:element name="performer" nillable="true" type="soapenc:string" />
          <xsd:element name="processInstanceName" nillable="true" type="soapenc:string" />
          <xsd:element name="remarks" nillable="true" type="soapenc:string" />
          <xsd:element name="status" nillable="true" type="soapenc:string" />
          <xsd:element name="statusOther" nillable="true" type="soapenc:string" />
          <xsd:element name="ticketNo" nillable="true" type="soapenc:string" />
          <xsd:element name="userId" nillable="true" type="soapenc:string" />
          <xsd:element name="workStepName" nillable="true" type="soapenc:string" />
          <xsd:element name="workitemName" nillable="true" type="soapenc:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfWorkItemObject">
        <xsd:complexContent mixed="false">
          <xsd:restriction base="soapenc:Array">
            <xsd:attribute wsdl:arrayType="impl:WorkItemObject[]" ref="soapenc:arrayType" />
          </xsd:restriction>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ResponseObject">
        <xsd:sequence>
          <xsd:element name="message" nillable="true" type="soapenc:string" />
          <xsd:element name="responseCode" nillable="true" type="soapenc:string" />
          <xsd:element name="resultStringArray" nillable="true" type="impl:ArrayOf_soapenc_string" />
          <xsd:element name="resultworkItemArray" nillable="true" type="impl:ArrayOfWorkItemObject" />
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getTaskListResponse">
    <wsdl:part name="getTaskListReturn" type="impl:ResponseObject" />
  </wsdl:message>
  <wsdl:message name="checkUsersExistsResponse">
    <wsdl:part name="checkUsersExistsReturn" type="xsd:boolean" />
  </wsdl:message>
  <wsdl:message name="getTaskListRequest">
    <wsdl:part name="reqObj" type="impl:RequestObject" />
  </wsdl:message>
  <wsdl:message name="UpdateTicketResponse">
    <wsdl:part name="UpdateTicketReturn" type="impl:ResponseObject" />
  </wsdl:message>
  <wsdl:message name="getPerformerRequest">
    <wsdl:part name="ticketNumber" type="soapenc:string" />
    <wsdl:part name="performerType" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="getPerformerResponse">
    <wsdl:part name="getPerformerReturn" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="CreateTicketRequest">
    <wsdl:part name="reqObj" type="impl:RequestObject" />
  </wsdl:message>
  <wsdl:message name="checkUsersExistsRequest">
    <wsdl:part name="userId" type="soapenc:string" />
  </wsdl:message>
  <wsdl:message name="UpdateTicketRequest">
    <wsdl:part name="reqObj" type="impl:RequestObject" />
  </wsdl:message>
  <wsdl:message name="CreateTicketResponse">
    <wsdl:part name="CreateTicketReturn" type="impl:ResponseObject" />
  </wsdl:message>
  <wsdl:portType name="WS_TechDesk">
    <wsdl:operation name="getPerformer" parameterOrder="ticketNumber performerType">
      <wsdl:input name="getPerformerRequest" message="impl:getPerformerRequest" />
      <wsdl:output name="getPerformerResponse" message="impl:getPerformerResponse" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTicket" parameterOrder="reqObj">
      <wsdl:input name="UpdateTicketRequest" message="impl:UpdateTicketRequest" />
      <wsdl:output name="UpdateTicketResponse" message="impl:UpdateTicketResponse" />
    </wsdl:operation>
    <wsdl:operation name="CreateTicket" parameterOrder="reqObj">
      <wsdl:input name="CreateTicketRequest" message="impl:CreateTicketRequest" />
      <wsdl:output name="CreateTicketResponse" message="impl:CreateTicketResponse" />
    </wsdl:operation>
    <wsdl:operation name="getTaskList" parameterOrder="reqObj">
      <wsdl:input name="getTaskListRequest" message="impl:getTaskListRequest" />
      <wsdl:output name="getTaskListResponse" message="impl:getTaskListResponse" />
    </wsdl:operation>
    <wsdl:operation name="checkUsersExists" parameterOrder="userId">
      <wsdl:input name="checkUsersExistsRequest" message="impl:checkUsersExistsRequest" />
      <wsdl:output name="checkUsersExistsResponse" message="impl:checkUsersExistsResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WS_TechDeskSoapBinding" type="impl:WS_TechDesk">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="getPerformer">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getPerformerRequest">
        <wsdlsoap:body use="encoded" namespace="http://rgicl.calldesk.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getPerformerResponse">
        <wsdlsoap:body use="encoded" namespace="http://rgicl.calldesk.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTicket">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="UpdateTicketRequest">
        <wsdlsoap:body use="encoded" namespace="http://rgicl.calldesk.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="UpdateTicketResponse">
        <wsdlsoap:body use="encoded" namespace="http://rgicl.calldesk.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateTicket">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="CreateTicketRequest">
        <wsdlsoap:body use="encoded" namespace="http://rgicl.calldesk.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="CreateTicketResponse">
        <wsdlsoap:body use="encoded" namespace="http://rgicl.calldesk.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTaskList">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getTaskListRequest">
        <wsdlsoap:body use="encoded" namespace="http://rgicl.calldesk.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="getTaskListResponse">
        <wsdlsoap:body use="encoded" namespace="http://rgicl.calldesk.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="checkUsersExists">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="checkUsersExistsRequest">
        <wsdlsoap:body use="encoded" namespace="http://rgicl.calldesk.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output name="checkUsersExistsResponse">
        <wsdlsoap:body use="encoded" namespace="http://rgicl.calldesk.com" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WS_TechDeskService">
    <wsdl:port name="WS_TechDesk" binding="impl:WS_TechDeskSoapBinding">
      <wsdlsoap:address location="http://10.65.5.80/sbm/services/WS_TechDesk" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>